﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
    .chart_contaner {
        position: relative;
        text-align: left;
        cursor: auto;
    }
</style>
<div>
    <div>
        <h2>Bienvenido/a, para continuar, ingresá tu número de documento:</h2>
        <div>
            <div>
                <input type="text" id="numero_documento" placeholder="número de documento" />
                <br />
                <button id="enviar_documento">comprobar progreso</button>
            </div>
        </div>
        <div id="chartContainer1" style="width: 45%; height: 300px;display: inline-block;"></div>
        <div id="chartContainer2" style="width: 45%; height: 300px;display: inline-block;"></div>
    </div>

</div>

@section Scripts {
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        $(function () {
            $('#enviar_documento').click(function () {
                $(this).attr('disabled', 'disabled');
                var documento = $('#numero_documento').val();

                if (documento === '') {
                    alert('ingresá un número de doumento para continuar.');
                    $('#enviar_documento').removeAttr('disabled');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("CheckGrades", "Home")',
                    method: "POST",
                    data: { numeroDocumento: documento }
                }).done(function (data) {
                    $('#enviar_documento').removeAttr('disabled');
                }).success(function (data) {
                    var options = {
                        title: {
                            text: "MATERIAS APROBADAS"
                        },
                        subtitles: [{
                            text: "Datos al @DateTime.Now.ToString("dd/MM/yyyy")"
                        }],
                        animationEnabled: true,
                        data: [{
                            type: "pie",
                            //startAngle: 40,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 12,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [
                                { y: data.materiasAprobadas, label: "APROBADAS" },
                                { y: data.pendientes, label: "PENDIENTES" }
                            ]
                        }]
                    };
                    var chartMaterias = new CanvasJS.Chart("chartContainer1", options);
                    chartMaterias.render();
                });

                $.ajax({
                    url: '@Url.Action("CheckExtensionHours", "Home")',
                    method: "POST",
                    data: { numeroDocumento: documento }
                }).done(function (data) {
                    $('#enviar_documento').removeAttr('disabled');
                }).success(function (data) {
                    var options = {
                        title: {
                            text: "HORAS DE EXTENSIÓN COMPLETADAS"
                        },
                        subtitles: [{
                            text: "Datos al @DateTime.Now.ToString("dd/MM/yyyy")"
                        }],
                        animationEnabled: true,
                        data: [{
                            type: "pie",
                            //startAngle: 40,
                            toolTipContent: "<b>{label}</b>: {y}%",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 12,
                            indexLabel: "{label} - {y}%",
                            dataPoints: [
                                { y: data.horasCompletadas, label: "COMPLETADAS" },
                                { y: data.pendientes, label: "PENDIENTES" }
                            ]
                        }]
                    };
                    var chartHorasExtension = new CanvasJS.Chart("chartContainer2", options);
                    chartHorasExtension.render()
                });
            })
        })
    </script>
}